.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 100vh;
  padding-top: 0px; /* Adjust this value to move the content down */
}

h1 {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
}

.label {
  margin: 10px 10px;
}

select {
  padding: 5px;
  margin-left: 10px;
}


.selected-location {
  display: flex;
  align-items: center;
  gap: 10px; /* Adjust the gap between elements as needed */
  margin-top: 20px;
}

.selected-location h6,
.selected-location h2 {
  margin: 0;
}

.selected-location h2 {
  color: black;
  font-size: 2em; /* Adjust this value for a bigger font size */
}

.selected-location h6 {
  color: grey;
}
.grey-text {
  color: grey;
}
h2 {
  font-size: 20px;
  margin-top: 20px;
  }
  
  .highlight {
  color: #007bff; /* Highlighted text color */
  font-weight: bold;
  font-size: xx-large;
  }
  
  .fade {
  color: #777; /* Faded text color */
  font-style: italic;
  }
